/* This file is for your main application css. */

@import "~milligram/dist/milligram";


.square {
    border: 2px solid #999;
    font-size: 30px;
    font-weight: bold;
    height: 50px;
    text-align: center;
    width: 50px;
}

.game {
    padding: 5ex;
}

.column {
    float: left;
    padding: 5px;
    height: 30px;
}
