/* This file is for your main application css. */

@import "~milligram/dist/milligram";

.column {
    padding-top: 10ex;
    text-align: center;
    height: 100px;
}

.board-row {
    clear: both;
    content: "";
    display: inline-grid;
    background-color: #7EE4DC;
    padding: 10px;
}

.square {
    border: 2px solid #999;
    font-size: 30px;
    font-weight: bold;
    height: 50px;
    text-align: center;
    width: 50px;
}

.game {
    display: flex;
    flex-direction: row;
}